<ion-header>
  <ion-navbar color="dark">
    <ion-title>bmiview</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding id="bmiview">
  <ion-card *ngFor="let student of student" >
    <ion-item>
    <p>ชื่อ-นามสกุล : {{student.student_name}}
      {{student.student_surname}}
    </p>
  </ion-item>
    </ion-card>


  <ion-card *ngFor="let item of bmi">
    <ion-item>
       <!--//ใช้ item อ้างและ . ชื่อ attibute -->
      <p>น้ำหนัก : {{item.develop_weight}}</p>
      <p>ส่วนสูง : {{item.develop_height}}</p>
      <p>BMI : {{item.bmi}}</p>
      <p>อยู่ในเกณฑ์ : {{item.develop_standard}}</p>
      <p>รายละเอียดเพิ่มเติม : {{item.develop_description}}</p>
      <p>บันทึกเมื่อวันที่ : {{item.develop_date}}</p>
     </ion-item>
  </ion-card>
</ion-content>